@import './variables';

@mixin button($color) {
  backgorund: none;
  color: $color;
  border: 1px solid $color;
  text-decoration: none;
  padding: 5px 10px;
  margin: 5px;
  border-radius: 3px;
  font-size: 20px;
  outline: none;
  &:hover {
    background-color: $color;
    color: #FFF;
    transition: all 0.2s ease;
  }
  &:active {
    background-color: lighten($color, 25%);
    border: 1px solid lighten($color, 25%);
  } 
}
