/******************************
VARIABLES
******************************/

$background-color: #F9F9F9;
$text-color: #555;
$title-font-family: 'lobster';
$title-color: #CC0000;
$btn-color: #555;
$btn-color-danger: #EE0000;

/******************************
BREAKPOINTS
******************************/

@mixin breakpoint($point) {
  @if $point == tablet {
    @media (max-width: 800px) { @content; }
  } @else if $point == phone {
    @media (max-width: 500px) { @content; }
  }
}

/******************************
BUTTONS
******************************/

@mixin button($color) {
  background-color: transparent;
  color: $color;
  border: 1px solid $color;
  text-decoration: none;
  padding: 5px 10px;
  margin: 5px;
  border-radius: 3px;
  font-size: 20px;
  outline: none;
  &:hover {
    background-color: $color;
    color: #FFF;
    transition: all 0.2s ease;
  }
  &:active {
    background-color: lighten($color, 25%);
    border: 1px solid lighten($color, 25%);
  } 
}
